<h1>{{title}}</h1>
<h2>
  Welcome {{#if user}}
    {{user.username}}
 {{/if}} ❤️
</h2>

{{#unless user}}
<a href="/login">Log in</a>
<a href="/signup">Sign up</a>
{{else}}
<a href="/logout">Log out</a>
{{/unless}}
